# Site settings
title:       WeWork Engineering
email:       careers@wework.com
author:      WeWork
description: ""
baseurl:     ""
url:         "http://engineering.wework.com"


# Permalinks
permalink:        pretty
relative_permalinks: true

# Syntax highlighting
highlighter:      pygments


# Google analytics
google_analytics: UA-4260314-5

# Optional features
animated:           true
show_related_posts: true
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# Social icons
show_social_icons: false
github_username:
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Post sharing icons
show_sharing_icons: true
share_text: 'Share this post:'
# Change to 'true' to enable individual icons
share_facebook: true
share_twitter: true
share_googleplus: false
share_linkedin: false
share_digg: false
share_tumblr: false
share_reddit: true
share_stumbleupon: false

# Build settings
markdown:     redcarpet
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data']
permalink:    pretty
paginate:     3
sass:
  compressed: true
