---
layout: default
---

{% assign author = site.data.authors[page.author] %}

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  {% if page.image %}
  <div class="post-image" style="background-image:url({{page.image}})"></div>
  {% endif %}
  <h1>{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
    {% if author %}
      - <span class="post-author">{{author.name}}</span>
    {% endif %}
    {% if page.update_date %}
      <div class="post-updated">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</div>
    {% endif %}
    <div class="post-meta small">{{ minutes }} minute read</div>
  </div>
</div>

<article class="post-content">
  {{ content }}

  {% if author %}
  <div class="author-block">
    {% if author.gravatar_email %}
    <div class="gravatar">
      <img src="{{ author.gravatar_email | gravatar }}">
    </div>
    {% endif %}
    <div class="author-info">
      <div class="author-name">
        Written by <strong>{{ author.name }}</strong>
        {% if author.github %}
        <span class="author-social">
          <a class="si fa fa-github" href="{{author.github}}" rel="nofollow" target="_blank"></a>
          {% endif %}
          {% if author.twitter %}
          <a class="si fa fa-twitter" href="{{author.twitter}}" rel="nofollow" target="_blank"></a>
          {% endif %}
        </span>
      </div>
      {% if author.summary %}
      <div class="author-summary">
        {{author.summary}}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% if site.show_related_posts and site.related_posts.size > 0 %}
  <h4 class="related-post-title mt2">Related Posts {{site.related_posts.size}}</h4>
  {% for post in site.related_posts %}
    <div class="post">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h5 class="post-title">{{ post.title }}</h5>
      </a>
    </div>
  {% endfor %}
{% endif %}
